body {
  font-family: "Raleway", sans-serif !important; }

#para {
  font-size: 16px !important; }

.container {
  background: white; }

#yellow {
  background-color: #fff200 !important; }

#grey {
  background: #3d3a3a; }

.image {
  border: 2px solid black;
  margin-left: 17%; }

img {
  width: 250px;
  height: 250px; }

#paras {
  font-size: 24px !important;
  border-bottom: 2px solid #dfdf03; }

#sbox {
  border-bottom: 2px solid #dfdf03; }

#don {
  padding-left: 12px; }
