body {
  font-family: 'Raleway', sans-serif; }

#home-section h2 {
  margin-top: 140px; }

#about-section {
  padding: 80px; }
  #about-section .col {
    border-radius: 50px; }
    #about-section .col h1 {
      font-weight: 100px !important;
      padding-bottom: 10px; }
  #about-section i {
    margin-top: 40px;
    font-size: 90px; }
  #about-section p {
    font-size: 20px; }

#things-know {
  font-size: 20px !important; }
  #things-know h2 {
    font-size: 30px !important; }
  #things-know i {
    color: green; }

#footer-section {
  background: #313131;
  color: white; }

#head .img {
  padding: 50px;
  background: yellow; }
  #head .img h1 {
    font-size: 25px !important; }
  #head .img h4 {
    font-size: 18px; }

#amir {
  border: 2px solid black; }

/* Medium devices (tablets) */
/* Large devices (desktops) */
/* Extra large devices (large desktops) */
/* The given screen size or smaller */
/* Extra small devices (portrait phones)*/
@media (max-width: 576px) {
  body h1 {
    margin-top: 24px;
    font-size: 20px !important; }
  body p {
    font-size: 18px !important; }
  #home-section {
    margin-top: 5px !important; }
    #home-section h2 {
      font-size: 30px !important; }
    #home-section p {
      font-size: 20px !important; }
  #about-section {
    padding: 10px; }
    #about-section i {
      font-size: 30px !important; } }
