

@media (min-width:576px) {
   
  }

  /* Medium devices (tablets) */
  @media (min-width:768px) {
    
  }

  /* Large devices (desktops) */
  @media (min-width:992px) {
   
  }

  /* Extra large devices (large desktops) */
  @media (min-width:1200px) {
    
  }

  /* The given screen size or smaller */

  /* Extra small devices (portrait phones)*/
  @media (max-width:576px) {
      body{
          
      }
      #home-section{
        margin-top:5px!important;
      h2{
        font-size:30px!important;

      }
      p{
        font-size:20px!important;
      }
  }

  #about-section{
    i{
      font-size:45px!important;
    }
    h1{
      margin-top:20px;
      font-size:30px!important;

    }
    p{
      font-size:20px!important;
    }
  }
}

  